@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora&family=Montserrat&family=Orbitron:wght@500&family=Protest+Riot&family=Sevillana&family=Style+Script&display=swap');
body 
{
    box-sizing: border-box;
    overflow: hidden;
}
*
{
    user-select: none;
}

.ParticleContainer
{
  background: #18181B;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.mainContainer
{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: transparent;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  transform-origin: center;
  opacity: 1; 
  transform: translateX(-50%) translateY(-50%);
}

.blob1
{
    position: absolute;
    height: 450px;
    top: -55px;
    left: -45px;
    width: 450px;
    background: #235881;
    opacity: 0.8;
    filter: blur(55px);
    animation: slowRotate 40s linear infinite;
    border-radius: 40% 20px 75% 10px;
}
.blob2
{
    position: absolute;
    height: 450px;
    top: 60%;
    left: 70%;
    width: 450px;
    background: #3c2381;
    opacity: 0.8;
    filter: blur(55px);
    animation: slowRotate 40s linear infinite;
    border-radius: 40% 20px 75% 10px;
}


@keyframes slowRotate {
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

.profileLogoBr1
{
    position: absolute;
    height: 450px;
    width: 320px;
    background: transparent;
    left: 65%;
    border-radius: 205px;
    border: 2px solid #235881;
    top: 15%;
}
.profileLogoBr2
{
    position: absolute;
    height: 450px;
    width: 320px;
    background: transparent;
    left: 65%;
    border-radius: 205px;
    border: 2px solid #147ccc;
    top: 15%;
    transform-origin: center;
    transform: scale(1.2);
    opacity: 0.7;
    box-shadow: 0 0 5px #147ccc;
}
.profileLogoCont
{
    position: absolute;
    height: 450px;
    width: 320px;
    background: transparent;
    left: 65%;
    border-radius: 205px;
    border: 2px solid #147ccc;
    top: 15%;
    transform-origin: center;
    transform: scale(0.9);
    opacity: 0.7;
    background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/SolankiProfileCmp.png?alt=media&token=b1694d16-fcd6-4e23-a1b4-9d6f8d64f56c);
    background-position-x: -50px;
    background-size: cover;
    overflow: hidden;
}

.LazyLoadprofileLogoCont 
{
    position: absolute;
    height: 440px;
    width: 310px;
    border-radius: 205px;
    overflow: hidden;
    background: transparent;
    transition: 0.5s;
    z-index: 20;
    top: 15%;
    object-fit: cover;
    left: 65%;
    background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/compressImages%2FSolankiProfile.jpeg?alt=media&token=7a1fdc0d-6391-47c3-beee-7299816b3b66);
    background-size: cover;
    background-position-x: -50px;
    filter: blur(9px);
    opacity: 1;
}

.redirectWebsiteCV
{
    position: absolute;
    padding-left: 30px;
    height: 40px;
    width: 200px;
    top: 10%;
    left: 4%;
    display: flex;
    backdrop-filter: blur(14px);
    background-color: #18181831;
    z-index: 100;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid #474646;
    cursor: pointer;
    z-index: 12;
    border-radius: 25px;
    overflow: hidden;

}
.redirectWebsiteCV .maskCVButton
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: 0.25s;
}
.redirectWebsiteCV span
{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    pointer-events: none;   
}
.redirectWebsiteCV span:nth-child(1)
{
    height: 20px;
    width: 20px;
    background-size: cover;
    pointer-events: none;
    left: 10%;
    top: 45%;
    font-size: 25px;
    color: #ffc;
}
.redirectWebsiteCV span:nth-child(2)
{
    left: 25%;
    font-weight: bolder;
    text-shadow: 0 0 10px #000;
}

.redirectWebsiteCV:hover > .maskCVButton
{
    opacity: 0.5;
}

.nameDesc /*upper name hello i'm*/
{
    position: absolute;
    font-size: 5em;
    top: 25%;
    left: 5%;
    font-family:  sans-serif;
    font-weight: 700;
    color: #ffc;
   
}
.nameDesc  b /*hello*/
{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px #0091ff;
}
.nameDesc u /*i'm*/
{
    text-decoration: none;
    color: #0093E9;
    text-shadow: 0 0 10px #0091ff;
}

.nameDescSub /*solanki*/
{
    position: absolute;
    font-size: 5em;
    top: 40%;
    left: 5%;
    font-family: sans-serif;
    font-weight: 700;
    color: #ffc;
    background-image: radial-gradient( circle 763px at 18.3% 24.1%,  rgba(255,249,137,1) 7.4%, rgba(226,183,40,1) 58.3% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0 -2px 10px rgb(241, 161, 0) ; */
}
.nameDescSub u  /*ghosh*/
{
    text-decoration: none;
    background-color: #08AEEA;
    background-image: radial-gradient( circle 763px at 18.3% 24.1%,  rgba(255,249,137,1) 7.4%, rgba(226,183,40,1) 58.3% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.classDesc
{
    position: absolute;
    top: 55%;
    width: 550px;
    font-size: 22px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    left: 5%;
}
.sectionName
{
    position: absolute;
    top: 15%;
    left: 5%;
    color: #fff;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
}

.redirectWebsite
{
    position: absolute;
    padding-left: 30px;
    height: 40px;
    width: 200px;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    backdrop-filter: blur(14px);
    background-color: #18181831;
    z-index: 100;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid #474646;
    cursor: pointer;
    z-index: 12;
    border-radius: 25px;

}
.redirectWebsite span
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    pointer-events: none;   
}
.redirectWebsite span:nth-child(1)
{
    height: 20px;
    width: 20px;
    background-size: cover;
    pointer-events: none;
    left: 10%;
    top: 52%;
    font-size: 21px;
    color: #fff;
}
.redirectWebsite span:nth-child(2)
{
    left: 30%;
    font-weight: bolder;
}


.FooterSocials
  {
    position: absolute;
    top: 88%;
    left: 4%;
    z-index: 10;
  }
  .FooterSocials ion-icon
  {
    color: #5146A1;
    font-size: 24px;
    margin-left: 15px;
    cursor: pointer;

  }
  .FooterSocials ion-icon:nth-child(1)
  {
    transform: rotate(9deg);
  }

  .FooterSocials ion-icon:nth-child(2)
  {
    transform: rotate(-11deg);
  }

  .FooterSocials ion-icon:nth-child(3)
  {
    transform: rotate(15deg);
  }

  .FooterSocials ion-icon:nth-child(4)
  {
    transform: rotate(-15deg);
    color: #ffc;
   
  }