@media screen and (max-width: 600px) {
    .mainContainer
    {
        width: 100%;
        height: 100%;
    }
    .appNameLogoWrapper {
        position: absolute;
        top: 0;
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: transparent;
        width: 95%;
        margin: auto 0;
        padding: 0;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .appName 
    {
        font-size: 15px;
        margin-left: 100px;
    }
    .logo 
    {
        height: 30px;
        width: 30px;
    }
        
    .navbar
    {
        padding-left: 0px;
        width: 100vw;
        max-width: 100vw;
        top: 30px;
        border-radius: 25px;
        gap: 5px;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        justify-content: space-around;
        background: transparent;
    }
    .navbar span
    {
        margin-right: 0;
        height: 30px;
        width: 30px;
        background: rgba(227, 209, 14, 0.171);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        padding: 5px 5px;
    }
    .navbar span ion-icon 
    {
        font-size: 1.2em;
        position: relative;
        display: inline-block !important;
        color: #d5ad0c;
        filter: drop-shadow(0 0 20px #d5ad0c);
    }
    .navbar span p 
    {
        display: none !important;
    }

    .mainHeading
    {
        position: relative;
        font-size: 2em;
        top: 20px;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translateX(-50%);
    }
    .subHeading 
    {
        position: relative;
        font-size: 1.2em;
        top: 20px;
        left: 50%;
        width: 100%;
        text-align: center;
        transform: translateX(-50%);
    }
    .visuMagicRedirect 
    {
        top: 55%;
        left: 20%;
        z-index: 100;
        background: transparent;
    }
    .innovistaRedirect 
    {
        top: 56%;
        left: 50%;
        z-index: 100;
    }
    .curlyNavArrowOne,
    .curlyNavArrowTwo,
    .curlyNavArrowThree,
    .textforPortfolio,
    .textforsoftwares,
    .textforGallery 
    {
        display: none;
    }

    .iconforvisumagic 
    {
        top: 55%;
        left: 20%;
    }
    .iconforInnovista 
    {
        top: 55%;
        left: 45%;
    }
    .iconforautoEdita 
    {
        top: 55%;
        left: 80%;
    }

}