:root {
  --background-rgb: 2 6 23;
  --background-light-rgb: 30 41 59;
  
  --border-rgb: 255 255 255;
  --border: 1px solid rgb(var(--border-rgb) / 20%);
  
  --hyperplexed-main-rgb: 41 121 255;
  --hyperplexed-main-light-rgb: 56 182 255;
  --hyperplexed-secondary-rgb: 42 252 152;
    
  --card-size: 480px;
  --font-size: 0.8rem;
  --logo-size: calc(var(--card-size) * 0.3);
}



.innovistaSection 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 10%;
    height: 100%;
    position: relative;
    background: transparent; 
    box-sizing: border-box;
    overflow-x: hidden;
    padding-bottom: 10px;
}
.innovistaSection::-webkit-scrollbar
{
  display: none;
}
/* .hero, .spotlightSection, .innovistaSection {
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: visible;
    position: relative;
}
 */

.innoVistaContainer
{
    position: absolute;
    top: 0%;
    left: 0;
    height: 100%; 
    width: 100%;
    
    background-color: transparent;
}

.innoVistaLogo
{
  position: absolute;
  top: 70px;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%);
  background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/innoVistaEye.png?alt=media&token=7437b492-c8e3-4ade-81f6-39c9135a733a);
  background-size: cover;
  width: 460px;
  overflow: hidden;
  height: 200px;
}
.innoVistaLogoSmall
{
  position: absolute;
  top: -90px;
  left: -220px;
  transform-origin: center;
  transform: translateX(-50%);
  background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/innoVistaEye.png?alt=media&token=7437b492-c8e3-4ade-81f6-39c9135a733a);
  background-size: cover;
  width: 460px;
  overflow: hidden;
  height: 200px;
  transform: scale(0.08);
}
.innoVistaLogo::before
{
  content: '';
  position: absolute;
  top: 550px;
  height: 20%;
  width: 100%;
  filter: blur(2px);
  box-shadow: -20px -20px 30px #101010;
  background: linear-gradient(#100f11, transparent);
}

.innoVistaContainer .descriptionImage
{
  position: absolute;
  height: 150px;
  transform: scale(0.8) rotate(-5deg);
  opacity: 0.4;
  width: 600px;
  top: 10%;
  left: 0%;
  background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/innovistaDescriptionImage.png?alt=media&token=b4293e3c-d3b6-4dd1-ade9-6f3f49a3be6f);
  background-size: contain;
}

.innoVista
{
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6em;
    text-align: center;
    font-family: 'Salsa', cursive;
    color: #fff;
    width: 450px;
    margin-bottom: 20px;
    background-color: transparent;
    text-shadow: 0 -20px 20px #000,
    0 -30px 30px #202020,
    -20px -20px 20px #0a0909,
    20px -20px 20px #0a0909;

}


.innoVistaDesc
{
    position: relative;
    width: 450px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    text-align: center;
    color: #8d8d8dea;
    font-family: 'Source Code Pro', monospace;
}

.redirectSocialInnoVista
{
    position: relative;
    padding-left: 30px;
    height: 40px;
    width: 200px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    backdrop-filter: blur(14px);
    background-color: #18181831;
    z-index: 100;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid #474646;
    cursor: pointer;
    z-index: 12;
    border-radius: 25px;

}
.redirectSocialInnoVista span
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    pointer-events: none;   
}
.redirectSocialInnoVista span:nth-child(1)
{
    height: 20px;
    width: 20px;
    background-size: cover;
    pointer-events: none;
    left: 10%;
    top: 52%;
    font-size: 21px;
    color: #fff;
    user-select: none;
}
.redirectSocialInnoVista span:nth-child(2)
{
    left: 25%;
    font-weight: bolder;
    user-select: none;
}

.innovateTiles
{
  position: relative;
    height: 650px;
    width: 100%;
    background-color: transparent;
    top: 20px;
    left: 0;
    z-index: 51;
}



.FirstRowFirstLayoutInnovate

{
   position: absolute;
   height: 350px;
   width: 650px;
   background-color: #1D1C20;
   margin-left: 45px;
   transform: translateX(0px);
   margin-top: 25px;
   border-radius: 25px;
   border: 1px solid #413e47;
   /* cursor: none; */
   overflow: hidden;
   transition: 0.002s;

}

.FirstRowFirstLayoutInnovate .cursor
{
   position: absolute;
   height: 40px;
   width: 40px;
   opacity: 0;
   top: 90%;
   left: 90%;
   transition: 0.5s;
   transform-style: preserve-3d;
   background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/pointer.png?alt=media&token=bd37480e-339c-4d4d-9397-6e134dfe7ebc);
   background-size: cover;
   z-index: 1;
}
.FirstRowFirstLayoutInnovate .headingText {
   position: relative;
   font-size: 20px;
   font-family: 'Source Code Pro', monospace;
   width: inherit;
   margin-top: 25px ;
   margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
   word-wrap: break-word;
   flex-wrap: wrap;
   color: #fff;
}


.FirstRowFirstLayoutInnovate .descriptionText
{
   position: relative;
   font-size: 13px;
   font-family: 'Source Code Pro', monospace;
   width: inherit;
   padding-right: 15px;
   margin-top: 7px;
   padding-left: 25px;
   box-sizing: border-box;
   word-wrap: break-word;
   text-align: left;
   flex-wrap: wrap;
   color: #A4A4A4;
}

.FirstRowFirstLayoutInnovate .imageContainer
{
   position: absolute;
   height: 450px;
   background: #100f11; /*#282828*/
   width: 350px;
   top: 30%;
   left: 5%;
   box-shadow: -20px 0 40px #080808,  
   inset -3px -2px 7px #6d6c6e;
   border: 1px solid #6d6c6e;
   border-radius: 25px;
   transition: 0.5s;
   background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/innovateTileImage.jpg?alt=media&token=8d6e27d4-e70c-4c22-b59c-52b50f2eb4f8);
   background-size: cover;
   /* filter: blur(25px); */
   background-repeat: no-repeat;
   /* transform: translateY(150px); */
}

.FirstRowFirstLayoutInnovate .buttonGrayScale
{
   position: absolute;
   top: 30%;
   left: 70%;
   height: 50px;
   width: 250px;
   color: #ffc;
   background: transparent;
   outline: none;
   backdrop-filter: blur(5px);
   border-radius: 20px;
   border: 1px solid #6d6c6e;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   font-size: 24px;
   font-family: 'Source Code Pro', monospace;
}
.FirstRowFirstLayoutInnovate .maskGrayscale:hover
{
   box-shadow: inset -20px -5px 4px #4e4e4e;
}
.FirstRowFirstLayoutInnovate .maskGrayscale
{
   position: absolute;
   height: 50px;
   top: 30%;
   left: 70%;
   width: 250px;
   background: transparent;
   transition: 0.25s;
   border-radius: 20px;
   overflow: hidden;
   z-index: 100;
   /* cursor: none; */
}


.FirstRowFirstLayoutInnovate .buttonInvert
{
   position: absolute;
   top: 50%;
   left: 70%;
   height: 50px;
   width: 250px;
   color: #ffc;
   background: transparent;
   outline: none;
   backdrop-filter: blur(5px);
   border-radius: 20px;
   border: 1px solid #6d6c6e;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   font-size: 24px;
   font-family: 'Source Code Pro', monospace;
}
.FirstRowFirstLayoutInnovate .maskInvert:hover
{
   box-shadow: inset -20px -5px 4px #4e4e4e;
}
.FirstRowFirstLayoutInnovate .maskInvert
{
   position: absolute;
   height: 50px;
   top: 50%;
   left: 70%;
   width: 250px;
   background: transparent;
   transition: 0.25s;
   border-radius: 20px;
   overflow: hidden;
   z-index: 100;
   /* cursor: none; */
}



.FirstRowFirstLayoutInnovate .buttonSaturate
{
   position: absolute;
   top: 70%;
   left: 70%;
   height: 50px;
   width: 250px;
   color: #ffc;
   background: transparent;
   outline: none;
   backdrop-filter: blur(5px);
   border-radius: 20px;
   border: 1px solid #6d6c6e;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   font-size: 24px;
   font-family: 'Source Code Pro', monospace;
}
.FirstRowFirstLayoutInnovate .maskSaturate:hover
{
   box-shadow: inset -20px -5px 4px #4e4e4e;
}
.FirstRowFirstLayoutInnovate .maskSaturate
{
   position: absolute;
   height: 50px;
   top: 70%;
   left: 70%;
   width: 250px;
   background: transparent;
   transition: 0.25s;
   border-radius: 20px;
   overflow: hidden;
   z-index: 100;
   /* cursor: none; */
}

.FirstRowFirstLayoutInnovate .ring1Innovate {
   position: absolute;
   border-radius: 50%;
   top: 50px;
   width: 270px;
   height: 270px;
   transform: scale(2.5);
   transform-origin: center;
   transform: scale(1.5);
   left: 80%;
   transform: translateX(-50%) scale(1);
   border-left:  2px solid #5e5e68ad;
   border-right:  2px solid #5e5e68ad;
   border-radius: 50%;
   background: transparent;
   opacity: 25%;
   animation: rotateHere 7s linear infinite;
 }

 .FirstRowFirstLayoutInnovate .planet1Innovate
 {
   position: relative;
   left: 30px;
   top: 30px;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background-size: contain;
   background: rgb(94, 94, 104);
   box-shadow: 0 -5px 30px #080808,
   inset -2px 0 2px #c9c3df; 
   
 }

 .FirstRowFirstLayoutInnovate .ring2Innovate {
   position: absolute;
   border-radius: 50%;
   top: 100px;
   width: 170px;
   height: 170px;
   transform: scale(2.5);
   transform-origin: center;
   transform: scale(1.5);
   left: 80%;
   transform: translateX(-50%) scale(1);
   border-left:  2px solid #5e5e68ad;
   border-right:  2px solid #5e5e68ad;
   border-radius: 50%;
   background: transparent;
   opacity: 25%;
   animation: rotateHere 5s linear infinite;
 }

 .FirstRowFirstLayoutInnovate .planet2Innovate
 {
   position: relative;
   left: 15px;
   top: 15px;
   height: 20px;
   width: 20px;
   transform: rotate(7deg);
   border-radius: 50%;
   background-size: contain;
   background: rgb(94, 94, 104);
   box-shadow: 0 -5px 30px #080808,
   inset 2px 0 2px #c9c3df; 
   
 }

 .FirstRowFirstLayoutInnovate .ring3Innovate {
   position: absolute;
   border-radius: 50%;
   top: 150px;
   width: 70px;
   height: 70px;
   transform: scale(2.5);
   transform-origin: center;
   transform: scale(1.5);
   left: 80%;
   transform: translateX(-50%) scale(1);
   border-left:  2px solid #5e5e68ad;
   border-right:  2px solid #5e5e68ad;
   border-radius: 50%;
   background: transparent;
   opacity: 25%;
   animation: rotateHere 3s linear infinite; 
 }

 .FirstRowFirstLayoutInnovate .planet3Innovate
 {
   position: relative;
   left: 2px;
   top: 2px;
   height: 20px;
   width: 20px;
   transform: rotate(7deg);
   border-radius: 50%;
   background-size: contain;
   background: rgb(94, 94, 104);
   box-shadow: 0 -5px 30px #080808,
   inset 2px 0 2px #c9c3df; 
   
 }


.FirstRowSecondLayoutInnovate
 {
    position: absolute;
    height: 350px;
    width: 580px;
    background-color: #1D1C20;
    transform: translateX(670px);
    margin-left: 45px;
    margin-top: 25px;
    border-radius: 25px;
    border: 1px solid #413e47;
    box-shadow: 43px 0 100px rgb(21, 21, 22);
    overflow: hidden;
 }
 .FirstRowSecondLayoutInnovate .headingText {
    position: relative;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    width: inherit;
    margin-top: 25px ;
    margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
    word-wrap: break-word;
    flex-wrap: wrap;
    color: #fff;
}

 
 .FirstRowSecondLayoutInnovate .descriptionText
 {
    position: relative;
    font-size: 13px;
    font-family: 'Source Code Pro', monospace;
    width: inherit;
    padding-right: 15px;
    margin-top: 7px;
    padding-left: 25px;
    box-sizing: border-box;
    word-wrap: break-word;
    text-align: left;
    flex-wrap: wrap;
    color: #A4A4A4;
 }
 .FirstRowSecondLayoutInnovate .prBackground
 {
  position: absolute;
  height: 350px;
  width: 580px;
  top: 0%;
  left: 0;
  filter: blur(2px) brightness(95%);
  background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/premiere.png?alt=media&token=f19bf40f-69d7-4abc-a2f8-bb5753daf9b7);
  opacity: 65%;

 }

 .FirstRowSecondLayoutInnovate .exportTile
 {
   position: absolute;
   top: 50%;
   left: -12%;
   height: 250px;
   width: 250px;
   background: #29292B;

   background-size: cover;
   border-radius: 25px;
   overflow: hidden;
 }
 .FirstRowSecondLayoutInnovate .exportTile span
 {
  position: absolute;
  top: -10%;
   left: -15%;
   height: 85%;
   width: 100%;
   background-image: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/exportTile.png?alt=media&token=1713a415-361a-4d8e-96d1-a57a973203f8);
   background-size: cover;

 }


 .FirstRowSecondLayoutInnovate .exportTileSteps
 {
   position: absolute;
   top: 25%;
   left: 78%;
   height: 350px;
   width: 250px;
   background: #29292B;
   overflow: hidden;
   border-radius: 25px;
 }

 .FirstRowSecondLayoutInnovate .exportTileSteps span
 {
  position: absolute;
    top: 2%;
   left: 2%;
   height: 320px;
   width: 250px;
   background-image: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/instructionTile.png?alt=media&token=ccb34ef7-66b4-45bc-ab76-0d2b1b03e5b4);

   background-size: cover;

 }


 .FirstRowSecondLayoutInnovate .cutBtn,
 .FirstRowSecondLayoutInnovate .litBtn,
 .FirstRowSecondLayoutInnovate .setBtn
 {
   position: absolute;
   height: 40px;
   top: 30%;
   left: 45%;
   width: 60px;
   border: 1px solid #4e4e4e;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   justify-content: center;
   align-items: center;
   text-align: center;
   overflow: hidden;
   background: #100f11;
   color: #d553fd;
   font-family: 'Source Code Pro', monospace;
   cursor: pointer;
   transition: 0.15s;
 }
 .FirstRowSecondLayoutInnovate .cutBtn:hover,
 .FirstRowSecondLayoutInnovate .litBtn:hover,
 .FirstRowSecondLayoutInnovate .setBtn:hover
 {
   background: #29292B;
 }

 .FirstRowSecondLayoutInnovate .litBtn
 {
   left: 55%;
   border-radius: 0px;
 }
 .FirstRowSecondLayoutInnovate .setBtn
 {
   left: 65%;
   border-radius: 0px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
 }
 
 .FirstRowSecondLayoutInnovate .cutBtn p,
 .FirstRowSecondLayoutInnovate .litBtn p,
 .FirstRowSecondLayoutInnovate .setBtn p
 {
   position: relative;
   top: 10%;
   transform: translateY(-50%);
   font-weight: 200;
   transition: 0.5s;
 }

 .FirstRowSecondLayoutInnovate .imageTilePremiere
 {
   position: absolute;
   top: 45%;
   left: 45%;
   height: 190px;
   width: 180px;
   background: #29292B;
   border-radius: 9px;
   overflow: hidden;
 }
 
 .FirstRowSecondLayoutInnovate .imageTilePremiereImage
 {
   position: relative;
   top: 0%;
   left: 0;
   height: 100px;
   border-radius: 9px;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
   width: 180px;
   transition: 0.5s;
   background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/cut.png?alt=media&token=e635effd-b95f-47bb-80fb-96726de1ebf1);
   background-size: cover;
   

 }
 .FirstRowSecondLayoutInnovate .moveTool
 {
  position: absolute;
  top: 55%;
  left: 34%;
  height: 40px;
  width: 40px;
  background-color: #0093E9;
  border-radius: 8px;
  box-shadow: 0 5px 2px #080808,
  inset 0 -5px 10px #002438;
  cursor: pointer;

 }
 .FirstRowSecondLayoutInnovate .moveTool::before
 {
  content: '';
  position: absolute;
  top: 20%;
  left: 20%;
  height: 70%;
  width: 70%;
  background-color: #000;
  background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/moveTool.png?alt=media&token=5a2fc53c-5006-47be-8d0a-2db3919e5511);
  background-size: cover;
  filter: invert(1);
 }

 .FirstRowSecondLayoutInnovate .textTool
 {
  position: absolute;
  top: 75%;
  left: 34%;
  height: 40px;
  width: 40px;
  background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/textTool.png?alt=media&token=697384f6-0a4d-4b18-98db-6070b051c37a);
  background-size: cover;
  filter: invert(1);
  cursor: pointer;
 }


 .FirstRowSecondLayoutInnovate .Colorgrade
 {
   position: absolute;
   top: 35%;
   left: -12%;
   background-color: #29292B;
   width: 250px;
   height: 40px;
   border: 1px solid #4e4e4e;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   box-shadow:  -5px 0 40px #080808;
   cursor: pointer;
   user-select: none;

 }
 .FirstRowSecondLayoutInnovate .ColorgradeText
 {
  position: absolute;
  color: #fff;
  left: 65%;
  top: 13%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Source Code Pro', monospace;
 }

 .FirstRowSecondLayoutInnovate .colorGradeOrb
 {
  position: absolute;
  color: #fff;
  left: 30%;
  top: 25%;
  height: 20px;
  width: 20px;
  background: #000;
  border-radius: 50%;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  box-shadow: 2px 0 5px #000 ;
  font-family: 'Source Code Pro', monospace;
 }
 .FirstRowSecondLayoutInnovate #ColorgradeShuffle
 {
  position: absolute;
  left: 89%;
  font-size: 20px;
  color: #919191;
  top: 27%;
 }


 .FirstRowSecondLayoutInnovate .textPronounce
 {
   position: absolute;
   color: #fff;
   top: 51%;
   left: 8%;
   font-family: 'Source Code Pro', monospace;
   font-weight: 700;
 }
 .FirstRowSecondLayoutInnovate .textPronounce b
 {
   font-style: normal;
   opacity: 45%;
 }

 .FirstRowSecondLayoutInnovate .textMeaning
 {
   position: absolute;
   color: #ffffffcb;
   top: 66%;
   left: 8%;
   opacity: 75%;
   font-size: 12px;
   font-family: 'Source Code Pro', monospace;
   font-weight: 300;
 }

 .SecondRowFirstLayoutInnovate

{
   position: absolute;
   height: 350px;
   width: 650px;
   background-color: #1D1C20;
   margin-left: 45px;
   transform: translateY(370px);
   margin-top: 25px;
   border-radius: 25px;
   border: 1px solid #413e47;
  overflow: hidden;  

}

.SecondRowFirstLayoutInnovate .headingText {
   position: relative;
   font-size: 20px;
   font-family: 'Source Code Pro', monospace;
   width: inherit;
   margin-top: 25px ;
   margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
   word-wrap: break-word;
   flex-wrap: wrap;
   color: #fff;
}


.SecondRowFirstLayoutInnovate .descriptionText
{
   position: relative;
   font-size: 13px;
   font-family: 'Source Code Pro', monospace;
   width: inherit;
   padding-right: 15px;
   margin-top: 7px;
   padding-left: 25px;
   box-sizing: border-box;
   word-wrap: break-word;
   text-align: left;
   flex-wrap: wrap;
   color: #A4A4A4;
}

.SecondRowFirstLayoutInnovate #Three_container
{
  position: absolute;
  height: 70%;
  width: 100%;
  top: 0%;
  background-color: transparent;
  transition: 0.5s;
  transform: scale(1.1);
  pointer-events: none;
  z-index: -1;
}
.SecondRowFirstLayoutInnovate #Three_container:hover
{
  box-shadow:  inset 0 175px 140px #001925;
}

.SecondRowSecondLayoutInnovate
 {
    position: absolute;
    height: 350px;
    width: 580px;
    background-color: #1D1C20;
    transform: translateX(670px) translateY(370px);
    margin-left: 45px;
    margin-top: 25px;
    border-radius: 25px;
    border: 1px solid #413e47;
    box-shadow: 43px 0 100px rgb(21, 21, 22);
    overflow: hidden;
 }

 .SecondRowSecondLayoutInnovate .headingText {
    position: relative;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    width: inherit;
    margin-top: 25px ;
    margin-left: 25px;  /* Top and bottom margins are 45px, left and right margins are 35px */
    word-wrap: break-word;
    flex-wrap: wrap;
    color: #fff;
    z-index: 100;
    transition: 0.5s;
}

 
 .SecondRowSecondLayoutInnovate .descriptionText
 {
    position: relative;
    font-size: 13px;
    font-family: 'Source Code Pro', monospace;
    width: inherit;
    padding-right: 15px;
    margin-top: 7px;
    padding-left: 25px;
    box-sizing: border-box;
    word-wrap: break-word;
    text-align: left;
    flex-wrap: wrap;
    color: #A4A4A4;
    z-index: 100;
    transition: 0.5s;
 }

.SecondRowSecondLayoutInnovate .searchBar
{
  position: absolute;
  width: 450px;
  height: 60px;
  border-radius: 30px;
  transform: translateY(-50%);
  top: 55%;
  left: 10%;
  border-left: 1px solid #7e7e7e;
  border-right: 1px solid #7e7e7e;
  border-top: 1px solid #4e4e4e;
  border-bottom: 1px solid #4e4e4e;
  background: #262628;
  z-index: 100;

}

@keyframes hideSearchBar {
  0%
  {
    opacity: 1;
  }
  100%
  {
    opacity: 0;
  }
}
.SecondRowSecondLayoutInnovate .searchText
{
  position: absolute;
  top: 22%;
  left: 40%;
  transform: translateX(-50%) translateY(-50%);
  color: rgb(126, 126, 126);
  letter-spacing: 0px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  
}

.SecondRowSecondLayoutInnovate .searchButton
{
  position: absolute;
  width: 120px;
  height: 45px;
  border-radius: 25px;
  transform: translateY(-50%);
  top: 55%;
  left: 65%;
  border:  1px solid #4e4e4e;
  background: #272727;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
  cursor: pointer;
  /* animation: SearchButtonGrow 5s ease-in-out forwards; */
  z-index: 100;
}

@keyframes SearchButtonGrow {
  0%
  {
    top: 55%;
    left: 65%;
    opacity: 1;
  }
  10%
  {
    transform-origin: left;
    transform: scale(2.2);
    top: 48%;
    opacity: 1;
    left: 30%;
    background: #2727274f;
    backdrop-filter: blur(1px);
  }
  70%
  {
    transform-origin: left;
    transform: scale(2.2) rotate(0deg);
    top: 48%;
    left: 30%;
    background: #2727274f;
    backdrop-filter: blur(1px);
    opacity: 0;
  }
  80%
  {
    transform-origin: left;
    transform: scale(2.2) rotate(0deg);
    top: 48%;
    left: 30%;
    background: #2727274f;
    backdrop-filter: blur(1px);
    filter: blur(25px);
    opacity: 0;
  }
  90%,100%
  {
    transform-origin: left;
    transform: scale(2.2) rotate(0deg);
    top: 48%;
    left: 30%;
    background: #2727274f;
    backdrop-filter: blur(1px);
    filter: blur(25px);
    opacity: 0;
  }
}




.SecondRowSecondLayoutInnovate .searchButtonText
{
  position: absolute;
  top: 7%;
  left: 51%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Source Code Pro', monospace;
  color: #fff;
  text-shadow: 0 0 4px #fff;
  font-size: 20px;
  letter-spacing: 0px;
}

.SecondRowSecondLayoutInnovate #iconSearchText
{
  position: absolute;
  color: #fff;
  font-size: 30px;
  left: 3%;
  top: 25%;
}


.card-track {
  height: 500px;
  top: 5%;
  left: -5%;
  width: 650px;
  display: flex;
  align-items: center;
  position: absolute;
  
}

.card-wrapper {
  width: 100%;
  position: relative;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  position: relative;
  margin: 1rem;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
}


.card-gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background: radial-gradient(
    rgb(var(--hyperplexed-main-light-rgb)),
    rgb(var(--hyperplexed-secondary-rgb))
  );
  mix-blend-mode: darken; 
  pointer-events: none;
  z-index: 3;
}

.card-letters {
  --x: 0px;
  --y: 0px;
  position: absolute;
  left: 0px;
  top: 60px;
  height: 700px;
  width: 100%;
  color: white;
  font-size: var(--font-size);
  font-weight: 500;
  word-wrap: break-word;
  opacity: 0;
  transition: opacity 400ms;
  -webkit-mask-image: radial-gradient(
    calc(var(--card-size) * 0.8) circle at var(--x) var(--y), 
    rgb(255 255 255) 20%, 
    rgb(255 255 255 / 25%), 
    transparent
  );
  scale: 1.03;
  filter: blur(0.3px) brightness(45%);
  user-select: none;
}

.card:hover .card-letters {
  opacity: 1;
}

@media(max-width: 600px) {
  :root {
    --card-size: 340px;
  }
  
  .card {
    border-radius: 1rem;
  }
}

 @keyframes rotate {
   0%
   {
     transform: rotate(0deg);
   }
   100%
   {
     transform: rotate(360deg);
   }
   
 }


 @keyframes rotateHere {
   0%
   {
     transform:  translateX(-50%) scale(1) rotate(0deg);
   }
   100%
   {
     transform:  translateX(-50%) scale(1) rotate(360deg);
   }
 }

 .SecondRowSecondLayoutInnovate .upperTileImageAI
 {
  position: absolute;
  height: 250px;
  background: #100f11; /*#282828*/
  width: 250px;
  top: 250px;
  left: 5%;
  box-shadow: -20px 0 40px #080808,  
  inset -3px -2px 7px #6d6c6e;
  border: 1px solid #6d6c6e;
  border-radius: 25px;
  transition: 0.5s;
  z-index: 100;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  /* animation: imageTileUpperAppear 2s ease forwards; */
 }
@keyframes imageTileUpperAppear {
    0%
    {
      opacity: 0;
      transform: translateY(0);
    }
    50%
    {
      opacity: 1;
      transform: translateY(-54%);
    }
    55%
    {
      opacity: 1;
      transform: translateY(-58%);
    }
    60%,100%
    {
      opacity: 1;
      transform: translateY(-54%);
    }
}
 .SecondRowSecondLayoutInnovate .lowerTileImageAI
 {
  position: absolute;
  height: 250px;
  background: #100f11; /*#282828*/
  width: 250px;
  top: -550px;
  left: 52%;
  box-shadow: -20px 0 40px #080808,  
  inset 3px -2px 7px #6d6c6e;
  border: 1px solid #6d6c6e;
  border-radius: 25px;
  transition: 0.5s;
  z-index: 100;
  opacity : 0;
  background-size: cover;
  background-repeat: no-repeat;
  /* animation: imageTileLowerAppear 2s ease forwards; */
 }
 @keyframes imageTileLowerAppear {
  0%
  {
    opacity: 0;
    transform: translateY(-250px);
  }
  50%
  {
    opacity: 1;
    transform: translateY(530px);
  }
  55%
  {
    opacity: 1;
    transform: translateY(550px);
  }
  60%,100%
  {
    opacity: 1;
    transform: translateY(530px);
  }
}

 .SecondRowSecondLayoutInnovate #reloadAnimation
 {
  position: absolute;
  top: 105%;
  text-shadow: -2px 0 2px #000000;
  transition: 0.5s;
  left: 90%;
  font-size: 24px;
  color: #b8b8b8;
  cursor: pointer;
  z-index: 100;
 }


