@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Orbitron:wght@500&family=Sevillana&family=Style+Script&display=swap');
body 
{
    box-sizing: border-box;
    overflow: hidden;
}
*
{
    user-select: none;
}

.ParticleContainer
{
  background: #18181B;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.mainContainer
{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 641px;
  width: 1349px;
  z-index: 1;
  /* box-shadow: 0 0 40px #D62929; */
  background: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  transform-origin: center;
  opacity: 1; /*change to zero*/
  transform: translateX(-50%) translateY(-50%);
}

.mainContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.mainContainer::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.mainContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}


.blob1
{
    position: absolute;
    height: 450px;
    top: -55px;
    left: -45px;
    width: 450px;
    background: #235881;
    opacity: 0.8;
    filter: blur(55px);
    animation: slowRotate 40s linear infinite;
    border-radius: 40% 20px 75% 10px;
}
.blob2
{
    position: absolute;
    height: 450px;
    top: 60%;
    left: 70%;
    width: 450px;
    background: #3c2381;
    opacity: 0.8;
    filter: blur(55px);
    animation: slowRotate 40s linear infinite;
    border-radius: 40% 20px 75% 10px;
}


@keyframes slowRotate {
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}
.maskGradient
{
    position: absolute;
    top: -6%;
    width: 100%;
    height: 80px;
    background-color: #18181B;
    filter: blur(25px);
    z-index: 90;
    transition: 0.5s;
    transform: translateY(-250px);
}

svg {
    position: absolute;
    transform: translateY(-267px) translateX(25%);
    height: 200px;
    width: 800px;
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    z-index: 120;
    font-family: "Orbitron", sans-serif;
    mix-blend-mode: overlay;
    fill: #fff;
    font-size: 2em;
    cursor: pointer;
  }
    

  #wand {
    width: 8vmin;
    aspect-ratio: 1 / 11;
    background-image: linear-gradient(90deg,#0c0c0c,#1d1a1f);
    position: absolute;
    opacity: 100%;
    left: 47%;
    top: -220px;
    /* translate: -50%; */
    rotate: 90deg;
    z-index: 100;
    border-radius : 10px;
    cursor: pointer;
    overflow: hidden;
    z-index: 100;
    
    
  }  #wand > .cap
  {
   height: 20%;
   width: 100%;
   background-color: #fff;


 }
 #wand .wand-streak
 {
    position: relative;
    height: 4px;
    rotate: 90deg;
    filter: blur(8px);
    width: 430px;
    border-radius: 25px;
    left: -190px;
    top: 50%;
    background-image: linear-gradient(91deg,#000,#fff 31%);
    z-index: 100;
 }
 .wandparticleBackdropCut
 {
    position: absolute;
    height: 400px;
    background: linear-gradient(180deg, transparent 40%,#7637E9 20% , #18181B 40%);
    width: 900px;
    filter: blur(25px);
    top: 21%;
    left: 15%;
    z-index: 3;
 }
 .wandparticleBackdrop
 {
    position: absolute;
    height: 800px;
    background: #18181B;
    width: 700px;
    top: -100px;
    left: 48%;
    transform: translateX(-50%) scale(1.2);
    background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/wandsparkle.png?alt=media&token=af5efc56-407f-4cbd-8992-a38d6db30a73);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: auto;
    filter: blur(15px);
    z-index: -1;
 }
 .particlesWand
 {
    position: absolute;
    height: 250px;
    background: transparent;
    width: 500px;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    z-index: -1;
 }











 
  
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
    display: flex;
	justify-content: center;
	align-items: center;
  transition: 0.5s;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
    position: absolute;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
    top: 150px;
    left: 2%;
    width: 96%;
    padding-bottom: 80px;

}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}




.redirectWebsite
{
    position: absolute;
    padding-left: 30px;
    height: 40px;
    width: 200px;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    backdrop-filter: blur(14px);
    background-color: #18181831;
    z-index: 100;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid #474646;
    cursor: pointer;
    z-index: 12;
    border-radius: 25px;

}
.redirectWebsite span
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    pointer-events: none;   
}
.redirectWebsite span:nth-child(1)
{
    height: 20px;
    width: 20px;
    background-size: cover;
    pointer-events: none;
    left: 10%;
    top: 52%;
    font-size: 21px;
    color: #fff;
}
.redirectWebsite span:nth-child(2)
{
    left: 30%;
    font-weight: bolder;
}


.FooterSocials
  {
    position: absolute;
    top: 92%;
    left: 4%;
    z-index: 10;
  }
  .FooterSocials ion-icon
  {
    color: #5146A1;
    font-size: 24px;
    margin-left: 15px;
    cursor: pointer;

  }
  .FooterSocials ion-icon:nth-child(1)
  {
    transform: rotate(9deg);
  }

  .FooterSocials ion-icon:nth-child(2)
  {
    transform: rotate(-11deg);
  }

  .FooterSocials ion-icon:nth-child(3)
  {
    transform: rotate(15deg);
  }

  .FooterSocials ion-icon:nth-child(4)
  {
    transform: rotate(-15deg);
    color: #ffc;
   
  }