@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora&family=Montserrat&family=Orbitron:wght@500&family=Protest+Riot&family=Sevillana&family=Style+Script&display=swap');
body 
{
    box-sizing: border-box;
    overflow: hidden;
}
*
{
    user-select: none;
}

.ParticleContainer
{
  background: #18181B;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.mainContainer
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: transparent;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  opacity: 1;
}

.blob1
{
    position: absolute;
    height: 450px;
    top: -55px;
    left: -45px;
    width: 450px;
    background: #235881;
    opacity: 0.8;
    filter: blur(55px);
    animation: slowRotate 40s linear infinite;
    border-radius: 40% 20px 75% 10px;
}
.blob2
{
    position: absolute;
    height: 450px;
    top: 60%;
    left: 70%;
    width: 450px;
    background: #3c2381;
    opacity: 0.8;
    filter: blur(55px);
    animation: slowRotate 40s linear infinite;
    border-radius: 40% 20px 75% 10px;
}


@keyframes slowRotate {
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}


.sectionName
{
    position: absolute;
    top: 10%;
    left: 5%;
    color: #fff;
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
}



.redirectSocial
{
    position: absolute;
    padding-left: 30px;
    height: 40px;
    width: 200px;
    top: 90%;
    left: 40%;
    transform: translateX(-50%);
    display: flex;
    backdrop-filter: blur(14px);
    background-color: #18181831;
    z-index: 100;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid #474646;
    cursor: pointer;
    z-index: 12;
    border-radius: 25px;

}
.redirectSocial span
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    pointer-events: none;   
}
.redirectSocial span:nth-child(1)
{
    height: 20px;
    width: 20px;
    background-size: cover;
    pointer-events: none;
    left: 10%;
    top: 52%;
    font-size: 21px;
    color: #7B61FF;
}
.redirectSocial span:nth-child(2)
{
    left: 30%;
    font-weight: bolder;
}


.redirectWebsite
{
    position: absolute;
    padding-left: 30px;
    height: 40px;
    width: 200px;
    top: 90%;
    left: 60%;
    transform: translateX(-50%);
    display: flex;
    backdrop-filter: blur(14px);
    background-color: #18181831;
    z-index: 100;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid #474646;
    cursor: pointer;
    z-index: 12;
    border-radius: 25px;

}
.redirectWebsite span
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    pointer-events: none;   
}
.redirectWebsite span:nth-child(1)
{
    height: 20px;
    width: 20px;
    background-size: cover;
    pointer-events: none;
    left: 10%;
    top: 52%;
    font-size: 21px;
    color: #fff;
}
.redirectWebsite span:nth-child(2)
{
    left: 30%;
    font-weight: bolder;
}


.FooterSocials
  {
    position: absolute;
    top: 88%;
    left: 4%;
    z-index: 10;
  }
  .FooterSocials ion-icon
  {
    color: #5146A1;
    font-size: 24px;
    margin-left: 15px;
    cursor: pointer;

  }
  .FooterSocials ion-icon:nth-child(1)
  {
    transform: rotate(9deg);
  }

  .FooterSocials ion-icon:nth-child(2)
  {
    transform: rotate(-11deg);
  }

  .FooterSocials ion-icon:nth-child(3)
  {
    transform: rotate(15deg);
  }

  .FooterSocials ion-icon:nth-child(4)
  {
    transform: rotate(-15deg);
    color: #ffc;
   
  }

  .pdfContainerOne .longLoad
  {
    position: absolute;
    height: 45%;
    top: 50%;
    width: 600px;
    background-color: transparent;
    left: 25%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transform: translateX(-50%) translateY(-50%);
    /* background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/CVImagePartOne.jpg?alt=media&token=f4433535-a40f-4438-a97b-c395a557caa8); */
    background-size: 600px;
    background-repeat: no-repeat;   
    /* filter: blur(50px) */
    box-shadow: -5px 0 5px #0d0c13;
    
  }




  .pdfContainerTwo .longLoad
  
  {
    position: absolute;
    height: 75%;
    top: 50%;
    width: 600px;
    background-color: transparent;
    left: 73%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: translateX(-50%) translateY(-50%);
    /* background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/CVImagePartTwo.jpg?alt=media&token=a5fe76ae-a8e1-44dd-9704-e2e4c9397ade); */
    background-size: 600px;
    background-repeat: no-repeat;
    /* filter: contrast(-40%); */
    box-shadow: 5px 0 5px #0d0c13;
    
  }

  .pdfContainerOne .slowLoadOne
  {
    position: absolute;
    height: 45%;
    top: 50%;
    width: 600px;
    background-color: transparent;
    left: 25%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    transform: translateX(-50%) translateY(-50%);
    /* background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/CVImagePartOne.jpg?alt=media&token=f4433535-a40f-4438-a97b-c395a557caa8); */
    background-size: 600px;
    background-repeat: no-repeat;   
    filter: blur(5px);
    transition: 0.5s;
    box-shadow: -5px 0 5px #0d0c13;
    z-index: 100;
    
  }
  .pdfContainerTwo .slowLoadTwo
  
  {
    position: absolute;
    height: 75%;
    top: 50%;
    width: 600px;
    background-color: transparent;
    left: 73%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: translateX(-50%) translateY(-50%);
    /* background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/CVImagePartTwo.jpg?alt=media&token=a5fe76ae-a8e1-44dd-9704-e2e4c9397ade); */
    background-size: 600px;
    background-repeat: no-repeat;
    filter: blur(5px);
    transition: 0.5s;
    box-shadow: 5px 0 5px #0d0c13;
    z-index: 100;
    
  }
  
  .cvMask
  {
    position: absolute;
    height: 350px;
    width: 200px;
    left: 55%;
    top: 22%;
    background: url(https://firebasestorage.googleapis.com/v0/b/videolize-3563f.appspot.com/o/wandsparkle.png?alt=media&token=af5efc56-407f-4cbd-8992-a38d6db30a73);
    background-size: 200px;
    background-repeat: no-repeat;
    z-index: -1;
    transform: rotate(-90deg)  scale(2);
    filter: hue-rotate(90deg);
  }