@media (max-width: 480px) {
    body {
        overflow-x: hidden; /* Important for preventing horizontal scroll on mobile */
    }

    .mainContainer {
        width: 90vw; /* Use viewport width for responsiveness */
        height: auto; /* Let height adjust based on content */
        top: 0; /* Start at top */
        left: 50%;
        transform: translateX(-50%);
        overflow-y: auto; /* Enable vertical scrolling if content overflows */
        padding: 20px; /* Add some padding */
    }

    .blob1, .blob2 {
        display: none; /* Hide blobs on smaller screens */
    }

    
}


@media (max-width: 768px) {
    .pdf-viewer-container {
        margin: 20px auto;
        padding: 15px;
        width: 95%;
    }

    #pdf-controls {
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
        padding: 10px;
        font-size: 0.9em;
    }

    #pdf-controls button,
    #pdf-controls a {
        padding: 8px 15px;
        font-size: 0.9em;
        min-width: unset;
    }

    #page-info {
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    .mainContainer 
    {
        width: 100%;
        height: 100%;
    }

    .pdf-viewer-container
    {
        margin: 5px auto;
        padding: 10px;
        width: 95%;
    }

    #pdf-scroll-wrapper
    {
        padding: 0;
    }

    #pdf-controls 
    {
        flex-direction: row;
        width: 80%;
        gap: 5px;
        white-space: nowrap;
        flex-wrap: nowrap;
    }
    #page-info
    {
        font-size: 0.8em;
    }

    #prev-page span,
    #next-page span,
    #pdf-controls a span {
        display: none;
    }

    #pdf-controls button,
    #pdf-controls a {
        font-size: 16px;
        padding: 6px 10px;
    }
    .FooterSocials
    {
        margin-top: 10px;
    }
}

@media screen and  (max-width: 2560px) {
    #pdf-controls 
    {
        flex-direction: row;
        width: 90%;
        background: #313030d5;
    }
}