@media screen and (max-width: 600px) {
    .descriptionImage 
    {
        display: none;
    }
    .visuMagic
    {
        font-size: 4em;
    }
    .visuMagicDesc 
    {
        top: 150px;
        width: 100%;
        font-size: 1.2em;
    }
    .magicTiles
    {
        display: flex;
        flex-direction: column;
    }
    .FirstRowMiddleLayout,
    .SecondRowFirstLayout
    {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 1%;
        margin-left: 5px;
    }
    .FirstRowMiddleLayout > .headingText,
    .SecondRowFirstLayout > .headingText 
    {
        margin-left: 5px;
    }
    .FirstRowMiddleLayout > .descriptionText,
    .SecondRowFirstLayout > .descriptionText
    {
        padding-left: 5px;
    }
    .FirstRowMiddleLayout .tileIconSVG
    {
        width: 150px;
        overflow: hidden;
    }
    .FirstRowMiddleLayout #wandVisuMagicTwo
    {
        display: none;
    }
    .SecondRowFirstLayout 
    {
        overflow-y: auto;
    }
    .SecondRowFirstLayout #wandVisuMagicOne
    {
        display: none;
    }
    #tiles 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tile:nth-child(1)
    {
        margin-top: 20px
    }
    .tile
    {
        transform: scale(1);
        position: relative;
        margin-bottom: 20px;
        rotate: 0;
    }
    .tile:nth-child(2) > img,
    .tile:nth-child(3) > img
    {
        filter: blur(0px);
        opacity: 1;
    }
}