@media screen and (max-width: 600px) {
    .descriptionImage 
    {
        display: none;
    }
    .visuMagic
    {
        font-size: 4em;
    }
    .visuMagicDesc 
    {
        top: 15px;
        width: 100%;
        font-size: 1.2em;
    }
    .magicTiles
    {
        display: flex;
        flex-direction: column;
    }
    #wand
    {
        height: 250px;
        left: 45%;
        transform: translateX(-50%);
        top: 10%;
    }
    #wand > .cap
    {
        height: 30%;
    }
    .magicTile .headingText
    {
        font-size: 1.1em;
    }
    .magicTile .descriptionText 
    {
        font-size: 0.8em;
    }
    #wandVisuMagicTwo 
    {
        display: none;
    }
    .tileforPS .layer1,
    .tileforPS .layer2,
    .tileforPS .layer3,
    .tileforPS .layer4 
    {
        font-size: 12px;
    }
    .spotlightSection 
    {
        height: 280vh;
    }
    #wandVisuMagicThree 
    {
        left: 150px;
    }
    #photoshopMockup > .descriptionText 
    {
        color: #fff;
        margin-top: -5px;
    }
    .tileforPSBacklit 
    {
        opacity: 1;
    }
    .tileforPSBacklitParticles 
    {
        opacity: 1;
    }
    #original
    {
        font-size: 5em;
        top: 60%;
    }
    #other 
    {
        font-size: 5em;
        width: 130px;
    }
    .mask 
    {
        top: 50%;
        width: 170px;
        height: 100px;
        border-radius: 10px;
    }
    #starshine 
    {
        height: 100px;
        top: 65%;
    }
    #wandVisuMagic
    {
        left: 170px;
        width: 10vmin;
        top: 150px;
    }
}

@media screen and (max-width: 768px) {
    .descriptionImage {
        display: none;
    }
    .visuMagic {
        font-size: 5em;
    }
    .visuMagicDesc {
        top: 20px;
        width: 100%;
        font-size: 1.4em;
    }
    .magicTiles {
        display: flex;
        flex-direction: column;
    }
    #wand {
        height: 550px;
        left: 48%;
        transform: translateX(-50%);
        top: 3%;
    }
    #wand > .cap {
        height: 22%;
    }
    .magicTile .headingText {
        font-size: 1.3em;
    }
    .magicTile .descriptionText {
        font-size: 1em;
    }
    #wandVisuMagicTwo {
        display: block;
    }
    .tileforPS .layer1,
    .tileforPS .layer2,
    .tileforPS .layer3,
    .tileforPS .layer4 {
        font-size: 22px;
    }
    .spotlightSection {
        height: 220vh;
    }
    #wandVisuMagicThree {
        left: 50%;
    }
    #photoshopMockup > .descriptionText {
        color: #fff;
        margin-top: -3px;
    }
    .tileforPSBacklit {
        opacity: 1;
    }
    .tileforPSBacklitParticles {
        opacity: 1;
    }
    #original {
        font-size: 10em;
        top: 60%;
    }
    #other {
        font-size: 8em;
        width: 330px;
    }
    .mask {
        top: 40%;
        width: 350px;
        height: 150px;
        border-radius: 12px;
    }
    #starshine {
        height: 120px;
        top: 60%;
    }
    #wandVisuMagic {
        left: 400px;
        width:  8vmin;
        top: 120px;
    }
}