@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Sevillana&family=Style+Script&display=swap');

.lineTwo {
    display: flex;
    justify-content: space-between;
    
  }
  
  .wordSecond {
    position: absolute;
    top: 2670px;
    left: 50%;
    transform: translateX(-50%);
  -webkit-text-fill-color: transparent;
  font-size: clamp(1rem, 6vw, 9rem);
  font-family: 'Josefin Sans', sans-serif;
  margin: 0rem;
  transition: opacity 250ms ease;
    cursor: pointer;
  }



  a {
    text-decoration: none;
  }
  
  #text:has(.fancySecond:hover) .wordSecond:not(.fancySecond:hover) {
    opacity: 0.2;
  }
  
  .fancySecond span {
    display: inline-block;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    -webkit-background-clip: text;
  }
  
  .fancySecond > .outer {
    transition: transform 350ms ease;
  }
  
  .fancySecond:hover > .outer {
    transition-duration: 800ms;
  }
  
  .fancySecond:hover > .outer > .inner {
    animation: float 5s ease infinite;
  }
  
  .fancySecond:hover > .outer > .inner > .letter {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);    
      -webkit-background-clip: text;
      transition: 0.5s;
      text-shadow: 0 0 20px #000;
      -webkit-text-fill-color: transparent;
    animation: background-pan 150s linear infinite;
  }
  
  .fancySecond:hover > .outer:nth-child(1) {
    transform: translate(-80%, 40%) rotate(8deg);
  }
  
  .fancySecond:hover > .outer:nth-child(2) {
    transform: translate(-40%, 10%) rotate(4deg);
  }
  
  .fancySecond:hover > .outer:nth-child(3) {
    transform: translate(-10%, 50%) rotate(-6deg);
  }
  
  .fancySecond:hover > .outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
  }
  
  .fancySecond:hover > .outer:nth-child(5) {
    transform: translate(0%, -10%) rotate(5deg);
  }
  
  .fancySecond:hover > .outer:nth-child(6) {
    transform: translate(0%, 10%) rotate(-3deg);
  }
  
  .fancySecond:hover > .outer:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
  }
  