@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Salsa&display=swap');
body {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Salsa', cursive, sans-serif;
}
html, body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: #111;
    padding: 0;
}
.mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: transparent;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    transform-origin: center;
    opacity: 1;
}
.reveal 
{
    opacity: 0;
    filter: blur(10px);
    animation: revealFadeIn 1s forwards;
}

@keyframes revealFadeIn {
    to {
        opacity: 1;
        filter: blur(0);
    }
}


.mainContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
    
}

.mainContainer::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
    display: none;
}

.mainContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}



.navbar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1em 0;
    z-index: 100;
    background: transparent;
}
.navbar span {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    letter-spacing: 1px;
    transition: color 0.2s;
}
.navbar span ion-icon {
    display: none;
}
.navbar span:hover {
    color: #c03a60;
}