




@media only screen and (max-width: 2560px) {
    .grid-wrapper {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 95%;
      max-width: 2200px; 
      column-count: 6 !important; 
      column-gap: 8px;
      padding: 20px;
      margin: 0 auto;
      box-sizing: border-box;
    }
  
    .grid-item img {
      border-radius: 16px;
      box-shadow: 0 12px 35px rgba(0, 0, 0, 0.15);
    }
  
    
  }
  

   @media only screen and (max-width: 1440px) {
    .grid-wrapper {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 98%;
      column-count: 3 !important;
      column-gap: 5px;
      margin: 0 auto;
      padding: 10px;
      box-sizing: border-box;
    }
    .redirectWebsite 
    {
        scale: 1.5;
        top: 92%;
    }
    .FooterSocials 
    {
      scale: 1.5;
    }
    
    
}



@media only screen and (max-width: 1024px) {
    .grid-wrapper {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 98%;
      column-count: 3 !important;
      column-gap: 5px;
      margin: 0 auto;
      padding: 10px;
      box-sizing: border-box;
    }
    .redirectWebsite 
    {
        scale: 1;
        top: 90%;
    }
    .FooterSocials 
    {
        scale: 1;
    }
    
}





   @media only screen and (max-width: 768px) {
    .FooterSocials 
    {
      top: 85%;
      left: 50%;
      transform: translateX(-50%);
    }
    .grid-wrapper {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 98%;
      column-count: 2 !important;
      column-gap: 5px;
      margin: 0 auto;
      padding: 10px;
      box-sizing: border-box;
    }
    .redirectWebsite 
    {
        scale: 1;
        top: 90%;
    }
    .FooterSocials 
    {
        scale: 1;
    }
}

   @media only screen and (max-width: 600px) {
    .FooterSocials 
    {
      top: 85%;
      left: 50%;
      transform: translateX(-50%);
    }
    .grid-wrapper {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 98%;
      column-count: 1 !important;
      column-gap: 5px;
      margin: 0 auto;
      padding: 10px;
      box-sizing: border-box;
    }
  .redirectWebsite 
  {
      scale: 1;
      top: 90%;
  }
  .FooterSocials 
  {
      scale: 1;
  }
    
}
